<header
  class="w-full absolute top-0 left-0 flex justify-between items-center px-5 py-4 border-b border-b-white/20"
>
  <a
    href="/"
    class="font-semibold text-white/90 text-xl cursor-pointer leading-snug tracking-tight"
  >
    <img
      src="/logo.svg"
      alt="Alura latinoamérica"
      class="w-[60px] aspect-auto cursor-pointer opacity-[.9]"
    />
    Encrypter
  </a>
  <nav class="flex gap-4">
    <a
      href="https://github.com/hayyrs66"
      target="_blank"
      class="text-link-gray text-sm cursor-pointer text-md font-semibold transition-colors hover:text-link-gray-hover"
      >Github</a
    >
    <a
      href="https://ricardoguevara.vercel.app/"
      target="_blank"
      class="text-sm leading-snug font-semibold text-link-gray cursor-pointer text-md transition-colors hover:text-link-gray-hover"
      >Portfolio</a
    >
  </nav>
</header>
