<section class="w-full h-screen py-28 px-5">
  <div class="grid grid-cols-2 w-full h-full">
    <div class="w-full h-full rounded-md border border-white/20">
      <textarea
        name=""
        id=""
        placeholder="Ingrese el texto aqui"
        class="outline-none w-full h-full resize-none bg-gradient-to-45 bg-transparent border-none p-5 text-white"
      >
      </textarea>
    </div>
    <div></div>
  </div>
</section>
