<section class="w-full h-screen pt-28 pb-10 px-5">
  <div class="grid grid-cols-2fr-1fr w-full h-full gap-8">
    <div class="w-full h-full">
      <textarea
        placeholder="Ingrese el texto aqui..."
        class="outline-none w-full h-full outline outline-white/5 rounded-sm resize-none bg-[#0f1726]/50
         backdrop-blur border-none p-5 text-white placeholder:text-slate-400"
      ></textarea>
    </div>
    <div
      class="w-full h-full bg-[#1f283b]/50 rounded-sm outline outline-white/5 backdrop-blur"
    >
    </div>
  </div>
</section>
