---
import Button from "@components/Button.astro";
---

<section class="w-full h-screen pt-24 pb-16 px-5">
  <div class="grid grid-cols-2fr-1fr w-full h-full gap-8">
    <div class="w-full h-full">
      <textarea
        placeholder="Ingrese el texto aqui..."
        class="outline-none w-full h-full outline outline-white/5 rounded-sm resize-none bg-[#0f1726]/50
         backdrop-blur border-none p-5 text-white placeholder:text-slate-400"
      ></textarea>
    </div>
    <div
      class="w-full h-full bg-[#1f283b]/50 rounded-sm outline outline-white/5 text-[#ac288b] backdrop-blur"
    >
    </div>
  </div>
  <div class="flex gap-4">
    <Button title="Encriptar" bgColor="106b96" />
    <Button title="Desencriptar" bgColor="132941" />
  </div>
</section>
